<div class="metal-text-align-center metal-button-header-group">
  <div class="metal-button-header">
    <button  [routerLink]="['/home']" mat-raised-button>Home</button>
  </div>

  <div class="metal-button-header">
    <button  [routerLink]="['/about']" mat-raised-button>About</button>
  </div>

  <div class="metal-button-header">
    <button  [routerLink]="['/contact']" mat-raised-button>Contact</button>
  </div>

  <div class="metal-button-header">
    <button  [routerLink]="['/provolochnaia']" mat-raised-button>Provolochnaia</button>
  </div>

  <div class="metal-button-header">
    <button [routerLink]="['/proshivnaia']" mat-raised-button>Proshivnaia</button>
  </div>
</div>