<div class="nav" [ngClass]="{'nav-opened': isBurgerMenuOpened}">
  <ul>
    <li><a [routerLink]="['/home']">Главная</a></li>
    <li><a [routerLink]="['/about']">О нас</a></li>
    <li><a [routerLink]="['/proshivnaia']">Прошивная</a></li>
    <li><a [routerLink]="['/provolochnaia']">Проволочная</a></li>
    <li><a [routerLink]="['/contact']">Контакты</a></li>
  </ul>
</div>
<header [ngClass]="{'page-left': isBurgerMenuOpened}">
  <div class="burger-menu" (click)="onBurgerClick()" [ngClass]="{'burger-menu-clicked': isBurgerMenuOpened}" >
    <span></span>
    <span></span>
    <span></span>
  </div>
  <a href="#" class="logo-header"><img src="../../assets/img/logo.png" alt="logo site"></a>
  <nav class="menu">
    <a [routerLink]="['/home']" [ngClass]="{'active': isHome}">Главная</a>
    <a [routerLink]="['/about']"[ngClass]="{'active': isAbout}">О нас</a>
    <a [routerLink]="['/proshivnaia']"[ngClass]="{'active': isPorsh}">Прошивная</a>
    <a [routerLink]="['/provolochnaia']"[ngClass]="{'active': isProv}">Проволочная</a>
    <a [routerLink]="['/contact']"[ngClass]="{'active': isContact}">Контакты</a>
  </nav>
</header>
