<footer>
    <div class="block-footer">
        <a href="img/logo.png" class="footer-logo">
            <img src="../../assets/img/logo.png" alt="logo site">
        </a>
        <div class="info-footer description">
            Способы связи:
        </div>
        <div class="contacts">
            <div class="info-footer footer-phone">
                <a href="tel:+380504079928">+38 (050) 407 99 28</a>
            </div>
            <div class="info-footer footer-email">
                <a href="mailto:advanta.metal@gmail.com">advanta.metal@gmail.com</a>
            </div>
        </div>
        <div class="info-footer logo">
            <a href="img/logo.png">
                <img src="../../assets/img/logo.png" alt="logo site">
            </a>
        </div>
    </div>
</footer>