<app-header></app-header>
<div class="about common">
    <h2>История компании</h2>
    <div class="history">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam earum fugiat ipsum libero maiores
        voluptatem? Amet aspernatur at, odio officia praesentium voluptatibus. A consequatur dolorum ducimus
        exercitationem odio similique, vitae? Expedita facilis incidunt repellendus saepe voluptatem. Ab, assumenda
        beatae delectus doloremque eius et, eveniet facere natus necessitatibus perferendis totam!
    </div>
    <h2>Почему мы?</h2>
    <ul>
        <li><img src="../../assets/img/list-img.png" alt="list img">Высокоточное и высокопроизводительное оборудование
            (копировально-прошивочный и проволочный вырезной станок с ЧПУ)
        </li>
        <li><img src="../../assets/img/list-img.png" alt="list img">Все основные виды электроэрозионных работ (резка,
            вырезание,
            прошивание, объемное копирование)
        </li>
        <li><img src="../../assets/img/list-img.png" alt="list img">Полный цикл производства (от изготовления
            электрода-инструмента
            до готового изделия)
        </li>
        <li><img src="../../assets/img/list-img.png" alt="list img">Любой уровень сложности</li>
        <li><img src="../../assets/img/list-img.png" alt="list img">Круглосуточный режим работы</li>
        <li><img src="../../assets/img/list-img.png" alt="list img">Единичное, мелкосерийное, серийное производство</li>
        <li><img src="../../assets/img/list-img.png" alt="list img">Высококвалифицированные специалисты с 15-летним
            опытом
        </li>
        <li><img src="../../assets/img/list-img.png" alt="list img">Гарантия качества</li>
        <li><img src="../../assets/img/list-img.png" alt="list img">Быстрое выполнение заказов</li>
        <li><img src="../../assets/img/list-img.png" alt="list img">Выгодные условия сотрудничества</li>
    </ul>
    <div class="about-photo">
        <img src="../../assets/img/about-1.jpg" alt="about photo">
        <img src="../../assets/img/about-2.jpg" alt="about photo">
    </div>
</div>

<app-footer></app-footer>