<app-header></app-header>
<div class="common contacts">
    <h2>Перечень персонала</h2>
    <div class="personal">
        <div class="people-photo"><img src="../../assets/img/people.jpg" alt="people"></div>
        <div class="position"><span>Должность</span></div>
        <div class="desc-people">Несколько слов о сотруднике</div>
        <div class="people-photo"><img src="../../assets/img/people.jpg" alt="people"></div>
        <div class="position"><span>Должность</span></div>
        <div class="desc-people">Несколько слов о сотруднике</div>
        <div class="people-photo"><img src="../../assets/img/people.jpg" alt="people"></div>
        <div class="position"><span>Должность</span></div>
        <div class="desc-people">Несколько слов о сотруднике</div>
        <div class="people-photo"><img src="../../assets/img/people.jpg" alt="people"></div>
        <div class="position"><span>Должность</span></div>
        <div class="desc-people">Несколько слов о сотруднике</div>
    </div>
    <h2>Способы связи</h2>
    <div class="ways">
        <div class="map">
            <!-- <img src="../../assets/img/map.jpeg" alt="map"> -->
            <app-map-contact></app-map-contact>
        </div>
        <div class="address">
            <p>г. Харьков</p>
            <p>+38 (050) 407 99 28</p>
            <p>advanta.metal@gmail.com</p>
        </div>
    </div>
</div>
<app-footer></app-footer>