<app-header></app-header>
<div class="provolochnaja">
  <h2>Когда применяется:</h2>
  <div>
    <p style="text-indent: 25px;">Данный вид электроэрозионного оборудования используется для резки и вырезания деталей сложной формы из любых токопроводящих материалов, для получения сквозных отверстий, окон, щелей различного размера и конфигурации.
      На проволочно-вырезном станке не выполняют операции: получение глухих отверстий, полостей, шлифовка, маркирование.
      Достоинства электроэрозионной обработки на проволочно-вырезных станках:</p>
    <ul>
      <li>отсутствие необходимости изготовления электрода-инструмента для каждой новой операции, что экономит немало средств и времени;</li>
      <li>более высокая производительность и скорость выполнения работ;</li>
      <li>меньшая стоимость обработки. Проволока дешевле, чем изготовление электрода-инструмента для прошивного станка.</li>
    </ul>

  </div>
  <h2 class="drawing">Просчет только по чертежу</h2>
  <div class="feedback" style="margin-top: 0;">
    <h3>Бесплатная консультация нашего менеджера</h3>
    <form action="mailto:advanta.metal@gmail.com" method="post">
      <div class="form-flex">
        <div class="block-form">
          <input type="text" placeholder="Имя" name="user-name">
          <input type="text" placeholder="Телефон" name="user-phone">
          <input type="email" placeholder="E-mail" name="user-email">
          <input type="file" name="file" value="Загрузить файл">
        </div>
        <textarea name="user-massage" id="feedback-msg" cols="30" rows="10" placeholder="Примечания"></textarea>
      </div>
      <button type="submit" name="btn-submit" class="btn-submit">Оставить заявку</button>
    </form>
  </div>

  <h2>Особенности электроэрозии на проволочно-вырезном станке.</h2>
  <p style="margin-bottom: 50px; line-height: 25px; text-indent: 25px">
    В качестве инструмента в проволочном станке используется проволока от 0,1 до 0,3 мм. Диаметр проволоки подбирают в зависимости от поставленной задачи. Материал проволоки: вольфрам, молибден, медь, латунь и др.
    В том месте заготовки, где необходимо получить окно или отверстие, предварительно просверливают техническое отверстие небольшого диаметра. После закрепления заготовки на столе станка через отверстие продевают проволоку. Во время работы станка проволока движется вдоль контура, непрерывно перематываясь через межэлектродный промежуток. Но резка осуществляется не механическим воздействием проволоки на материал. Разрушение материала происходит под воздействием электрической энергии, проходящей через проволоку, которая выполняет роль проводника.
    Наличие в станке функции автоматической заправки проволоки позволяет ускорить обработку.
    Рабочей жидкостью в данном станке является дистиллированная вода, которая служит для охлаждения проволоки и вымывания неиспарившихся микрочастиц расплавленного материала.
  </p>


</div>
<app-footer></app-footer>