<div class="w3-content w3-display-container">
  <img class="mySlides" src="../../../assets/img/slide-img-1.jpg" style="width:100%">
  <img class="mySlides" src="../../../assets/img/slide-img-2.jpg" style="width:100%">
  <img class="mySlides" src="../../../assets/img/slide-img-3.jpg" style="width:100%">
  <img class="mySlides" src="../../../assets/img/slide-img-4.jpg" style="width:100%">
  <img class="mySlides" src="../../../assets/img/slide-img-5.jpg" style="width:100%">


  <button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>
</div>