<app-header></app-header>
<div class="main common">
    <div class="video-bg">
        <div class="slice-1"></div>
        <div class="slice-2"></div>
        <div class="video"></div>
        <h2>Металлообработка без границ</h2>
        <div class="scroll-bottom"></div>
    </div>
    <div class="advantages">
        <h2>Наши преимущества</h2>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Высокоточное и высокопроизводительное оборудование (копировально-прошивочный и проволочный вырезной станок с ЧПУ)</span>
        </div>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Все основные виды электроэрозионных работ (резка, вырезание, прошивание, объемное копирование)</span>
        </div>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Полный цикл производства (от изготовления электрода-инструмента до готового изделия</span>
        </div>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Любой уровень сложности</span></div>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Круглосуточный режим работы</span></div>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Единичное, мелкосерийное, серийное производство</span></div>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Высококвалифицированные специалисты с 15-летним опытом</span></div>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Гарантия качества</span></div>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Быстрое выполнение заказов</span></div>
        <div class="advantages-datails">
            <img src="../../assets/img/adv-img.png" alt="advantages image">
            <span>Выгодные условия сотрудничества</span></div>

        <div class="finished-work">
            <h2>Наши реализованные работы</h2>
            <div class="works-slider">
                <img src="../../assets/img/slider-bg.jpg" alt="" style="max-width: 100%;">
            </div>
        </div>
    </div>
    <div class="feedback">
        <h3>Бесплатная консультация нашего менеджера</h3>
        <form action="#">
            <div class="form-flex">
                <div class="block-form">
                    <input type="text" placeholder="Имя" name="user-name">
                    <input type="text" placeholder="Телефон" name="user-phone">
                    <input type="email" placeholder="E-mail" name="user-email">
                </div>
                <textarea name="user-massage" id="feedback-msg" cols="30" rows="10" placeholder="Примечания"></textarea>
            </div>
            <button type="submit" name="btn-submit" class="btn-submit">Оставить заявку</button>
        </form>
    </div>
</div>


<app-footer></app-footer>