.text-center {
    text-align: center;
}

.video-container {
    position: relative;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2000;
}

.bg-img {
    margin: 0 auto;
    height: 800px;
    width: 100%;
    background-position: center;
    background: url("/assets/images/bg-video.png") no-repeat;
    background-size: cover;
}

.advanteges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adv-section {
    width: 30%;
}

.form-block {
    width: 50%;
    margin: 50px auto;
}

.mat-form-field {
    width: 48%;
    margin-right: 1;
}